body {
  font-family: sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

/* Give the mermaid container a width and center it */
.mermaid {
  display: block; /* Use block for margin auto to work */
  margin: 0 auto; /* Center the container */
  max-width: 90%; /* Prevent it from getting too wide on large screens */
}
